<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Akses Ditolak</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
		integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body style="background-color:	#fdfff2">
	<div class="container-fluid">
		<div class="text-center mt-5 pt-5">
			<h1 class="my-4 font-weight-bold text-danger" style="font-size:4.5rem">404 <i class="far fa-sad-tear"></i>
			</h1>
			<h2 class=" my-4">Halaman Tidak bisa di Akses </h2>
			<a href="<?= base_url('admin'); ?>">kembali ke halaman home <i class="fas fa-undo-alt"></i></a>
			<br><br><br>

			<br>
		</div>
	</div>
</body>

</html>